* 
{
    margin : 0 ; 
    padding : 0 ; 
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color:black;
}
.site-header-wrapper
{
    padding: 18px 0px;
    height: 92px;

}
.container {
    max-width: 1240px;
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-wrapper {
    flex: 0 0 180px;
    max-width: 180px;
}
.logo-wrapper a {
    display: block;
}
.nav-wrapper
{
    flex :1;
}
.top-right-bar {
    display: flex;
    align-items: center;
    margin-bottom:0px;
    justify-content: flex-end;
}
.nav-wrapper ul {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
}
.nav-wrapper ul li {
    width: auto;
    padding: 0;
}
li {
    position: relative;
}
.top-nav-bar li a {
    color: #f14D54;
    font-size: 16px;
    text-decoration:none;

}
.nav-wrapper ul.top-nav-bar li +li {
    padding-left: 15px;
}

.Cart {
    color: #f14D54;
    text-align: left;
    width:110.88px;
    height: 45px;
    padding: 7px;
    border-radius: 5px;
    border: 0.5px solid rgba(136, 117, 117, 0.644);
    margin-top: -6px;
    margin-left:20px;
}
.Cart a
{
    text-decoration: none;
}

.c1
{
    margin-top : -28px; 
}
.c2
{
    margin-left: 47px;
    margin-top: -28px;
    color: black;
    font-size: 20px;
}
.lower-header 
{
   
        height: 80px;
        display: flex;
        
        padding: 20px 0px;
        background-color: #f4f4f4;
      
}
.text 
{
  align-content: center;
  width: 422px;
  height: 40px;
  outline: none;
  border: 0.5px solid rgb(206, 195, 195);
  border-radius: 4px;
  padding-left: 10px;
  color: black;
  font-size: 14px;
  font-style: italic;
  margin-left :480px ; 
}
.search
{
    height : 40px ; 
    font-size: 16px;
    width: 129px;
    background-color: #80bf32;
    border: none;
    border-radius: 4px;
    color : white;
    margin-left :5px;
    text-decoration: none;
}
.search:hover
{
    color: white;
    font-weight: bolder;
    /* background-color: #506b2e; */
  background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(80, 207, 77, 1) 43%
  );
}
.cancel 
{
    height : 40px ; 
    font-size: 16px;
    width: 129px;
    background-color: #f14D54;
    border: none;
    border-radius: 4px;
    color : white;
    margin-left :5px;
    text-decoration: none;
}
.cancel:hover
{
    font-weight: bold;
   
}
.product-page-wrapper {
    padding: 50px 0 80px;
    background-color: #fff;
}
.container
{
    max-width: 1240px;
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
}
h1
{
    color: #414141;
    position: relative;
    font-size: 32px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 45px;
    letter-spacing: 0px;
}
.btn-wrapper {
    display: flex;
    text-align: right;
    margin-bottom: 32px;
    justify-content: flex-end;
}
.form-control
{
    height: 40px;
    line-height: 45px;
    border-radius: 0px;
    background-color: #FFFFFF;
    color: rgb(65, 65, 65);
    width: 100%;
    border: 1px solid lightgray;
    margin: 0;
    display: block;
    padding: 0 15px !important;
    font-size: 16px;
    min-width: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    border-radius: 3px;
    transition: all 0.5s;
    font-style: italic
}
.btn
{
    display: inline-flex;
    height: 40px;
    min-width: 100px;
    line-height: 45px;
    align-items: center;
    justify-content: center;
    font-size: 14px;
    padding: 0 10px;
    border-radius: 3px;
    transition: all 0.5s;
    border: 0;
    outline: 0;
    box-shadow: none;
    margin-left:20px;

}
.btn.add-product
{
    background-color : #f14D54;
    color : white;
}
.btn.add-product:hover
{
    font-weight:bold;
}
table
{
    width:100%;
}
th,td
{
    color: #212121;
    font-weight: 500;
    line-height: 1.94;
    border-bottom: 1px solid rgb(206, 195, 195);
    padding: 16px;
    font-size: 14px;
    text-align: left;
    font-family: 'Roboto', sans-serif;
    display: table-cell;

}
.btn-list
{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    
}

.edit 
{
    color: #80BF32;
    border: 1px solid #80BF32;
    height: 30px;
    font-size: 14px;
    min-width: 80px;
    line-height: 30px;
    text-transform: capitalize;
    background-color: transparent;
    font-weight: 500;
    padding: 6px 25px;
    color: #80BF32;
    border: 1px solid #80BF32;
    border-radius:3px;
    text-decoration: none;
}

.edit:hover
{
    background-color: #80bf32;
    color:white;
}
.delete
{
    color: #f14D54;
    border: 1px solid #f14D54;
    width: 80px;
    height: 30px;
    font-size: 14px;
    min-width: 80px;
    line-height: 30px;
    text-transform: capitalize;
    background-color: transparent;
    font-weight: 500;
    padding: 6px 15px;
    margin: 0px 0px 0px 10px;
    border-radius: 3px;
    text-decoration: none;
    
}

.delete:hover
{
    background-color: #f14D54;
    color:white;
}
.table-pagination
{
    display: flex;
    justify-content: flex-end;
    margin-top:28px;
    align-items: center;
}
select
{
    margin: 0 32px 0 8px;
    border: 1px solid #cacaca;
    height: 40px;
    width: 55px;
    
    text-align-last: center;
    padding-left: 5px;
    background-size: 10px;
    background-position: calc(100% - 7px);
    background-repeat: no-repeat;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 3px;
}
.next-prev-list {
    display: flex;
    align-items: center;
    margin-left: 20px;
    list-style: none;
}
.disable {
    opacity: 0.2;
}
li a {
    display: block;
    cursor: pointer;
    height: 48px;
    display: inline-flex;
    align-items: center;
    width: 48px;
    justify-content: center;
    font-size: 0;
    
}
li a svg {
    width: 24px;
}
.site-info
{
    justify-content: baseline;
    text-align: center;
    background-color: #f9f9f9;
    margin-top: 80px;
}
.logo
{
    flex:0 0 180px;
    max-width: 180px;
}
.footer-container
{
    max-width:1240px ;
    padding:10px 50px;
    margin:0px auto;
    width:100%;
}
.foo-site-logo
{
    margin-left:463px;
}
.copy-right
{
    color: #757575;
    font-size: 13px;
    line-height: 1.8;
    margin-top:15px;
}