* 
{
    margin : 0 ; 
    padding : 0 ; 
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color:black;
}
.site-header-wrapper
{
    padding: 18px 0px;
    height: 92px;

}
.container {
    max-width: 1240px;
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
    height:600px;
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-wrapper {
    flex: 0 0 180px;
    max-width: 180px;
}
.logo-wrapper a {
    display: block;
}
.nav-wrapper
{
    flex :1;
}
.top-right-bar {
    display: flex;
    align-items: center;
    margin-bottom:0px;
    justify-content: flex-end;
}
.nav-wrapper ul {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
}
.nav-wrapper ul li {
    width: auto;
    padding: 0;
}
li {
    position: relative;
}
.top-nav-bar li a {
    color: #f14D54;
    font-size: 16px;
    text-decoration:none;

}
.nav-wrapper ul.top-nav-bar li +li {
    padding-left: 15px;
}

.Cart {
    color: #f14D54;
    text-align: left;
    width:110.88px;
    height: 45px;
    padding: 7px;
    border-radius: 5px;
    border: 0.5px solid rgba(136, 117, 117, 0.644);
    margin-top: -6px;
    margin-left:20px;
}
.Cart a
{
    text-decoration: none;
}

.c1
{
    margin-top : -28px; 
}
.c2
{
    margin-left: 47px;
    margin-top: -28px;
    color: black;
    font-size: 20px;
}
.lower-header 
{
   
        height: 80px;
        display: flex;
        
        padding: 20px 0px;
        background-color: #f4f4f4;
      
}
.text 
{
  align-content: center;
  width: 422px;
  height: 40px;
  outline: none;
  border: 0.5px solid rgb(206, 195, 195);
  border-radius: 4px;
  padding-left: 10px;
  color: black;
  font-size: 14px;
  font-style: italic;
  margin-left :480px ; 
}
.search
{
    height : 40px ; 
    font-size: 16px;
    width: 129px;
    background-color: #80bf32;
    border: none;
    border-radius: 4px;
    color : white;
    margin-left :5px;
    text-decoration: none;
}
.search:hover
{
    color: white;
    font-weight: bolder;
    /* background-color: #506b2e; */
  background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(80, 207, 77, 1) 43%
  );
}
.cancel 
{
    height : 40px ; 
    font-size: 16px;
    width: 129px;
    background-color: #f14D54;
    border: none;
    border-radius: 4px;
    color : white;
    margin-left :5px;
    text-decoration: none;
}
.cancel:hover
{
    font-weight: bold;
   
}
.product-list-page-wrapper
{
    padding:50px 0px 80px 0px;
    background-color: #fff;
    height:1500px;
}
.container {
    max-width: 1240px;
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
    height: 1520px;
}
h1
{
    color: #414141;
    position: relative;
    font-size: 32px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin: 0px 0px 75px 0px;
    letter-spacing: 0px;
}
.sort-wrapper
{
    display: flex;
    justify-content: space-between;
    margin-bottom:45px

}
.product-name
{
    font-size: 18px;
    font-family: "Roboto",sans-serif;
    color: #414141;
    margin-top: 3px;
}
.sort-by-wrapper label
{
    color:#414141;
}
select
{
    width:200px;
    height:40px;
    border:1px solid rgb(206, 195, 195);
    border-radius: 3px;
    margin-left:5px;
}
.product-list-wrapper
{
    display: flex;
    max-width:1240px;
    flex-wrap: wrap;
    
}
.card
{
    width:227.67px;
    min-height:494.17px;
    border:1px solid rgb(206, 195, 195) ;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin-right:30px;
    margin-bottom:30px;

}
.upper-card
{
    width:227.67px;
    height:188.5px;
    background-color: black;
    border-radius:3px
}
.lower-card
{
    margin:15px 10px 10px 10px;
}
h3
{
    color:#414141;
    font-family: "Roboto",sans-serif;
    font-weight: 500px;
}
p
{
    font-size:15px;
    color:#838383;
    font-family: "Roboto",sans-serif;
}
.text-wrapper
{
    font-size:15px;
    color:#838383;
    font-family: "Roboto",sans-serif;
    margin-top:15px;
}
.price-wrapper
{
    color:#838383;
    font-family: "Roboto",sans-serif;
    margin-top:20px;
    display: flex;
}
.rupee-logo
{
    color:#838383;
    margin-left:4px;
}
del
{
    color:#838383;
}
h4
{
    color: #80bf32;
}
.discount
{
    margin-left: 15px;
    color: #80bf32;
    font-weight: bold;
}
.actual-price text
{
    font-family: "Roboto",sans-serif;
    color:#838383;
}
.btn-add-to-cart
{
    background-color: #f14D54;
    width:205.17px;
    height:40px;
    border-radius:5px;
    color:white;
    border:none;
    margin-top:25px;

}
   
.pagination-wrapper
{
    display: flex;
    justify-content: center;
    margin-top:40px;
}
.pagination {
    display: inline-block;
   

  }
  
.pagination a {
    color: black;
    float: left;
    padding: 10px 20px;
    text-decoration: none;
  }
  
.pagination a.active {
    background-color: #f14D54;
    color: white;
  }
  
.pagination a:hover:not(.active) {background-color: #ddd;}
.site-info
{
    justify-content: baseline;
    text-align: center;
    background-color: #f9f9f9;
}
.logo
{
    flex:0 0 180px;
    max-width: 180px;
}
.footer-container
{
    max-width:1240px ;
    padding:10px 50px;
    margin:0px auto;
    width:100%;
}
.foo-site-logo
{
    margin-left:463px;
}
.copy-right
{
    color: #757575;
    font-size: 13px;
    line-height: 1.8;
    margin-top:15px;
}
