* 
{
    margin : 0 ; 
    padding : 0 ; 
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color:black;
}
.site-header-wrapper
{
    padding: 18px 0px;
    height: 92px;

}
.container {
    max-width: 1240px;
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
    height:600px;
    
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-wrapper {
    flex: 0 0 180px;
    max-width: 180px;
}
.logo-wrapper a {
    display: block;
}
.nav-wrapper
{
    flex :1;
}
.top-right-bar {
    display: flex;
    align-items: center;
    margin-bottom:0px;
    justify-content: flex-end;
}
.nav-wrapper ul {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
}
.nav-wrapper ul li {
    width: auto;
    padding: 0;
}
li {
    position: relative;
}
.top-nav-bar li a {
    color: #f14D54;
    font-size: 16px;
    text-decoration:none;

}
.nav-wrapper ul.top-nav-bar li +li {
    padding-left: 15px;
}

.Cart {
    color: #f14D54;
    text-align: left;
    width:110.88px;
    height: 45px;
    padding: 7px;
    border-radius: 5px;
    border: 0.5px solid rgba(136, 117, 117, 0.644);
    margin-top: -6px;
    margin-left:20px;
}
.Cart a
{
    text-decoration: none;
}

.c1
{
    margin-top : -28px; 
}
.c2
{
    margin-left: 47px;
    margin-top: -28px;
    color: black;
    font-size: 20px;
}
.lower-header 
{
   
        height: 80px;
        display: flex;
        
        padding: 20px 0px;
        background-color: #f4f4f4;
      
}
.text 
{
  align-content: center;
  width: 422px;
  height: 40px;
  outline: none;
  border: 0.5px solid rgb(206, 195, 195);
  border-radius: 4px;
  padding-left: 10px;
  color: black;
  font-size: 14px;
  font-style: italic;
  margin-left :480px ; 
}
.search
{
    height : 40px ; 
    font-size: 16px;
    width: 129px;
    background-color: #80bf32;
    border: none;
    border-radius: 4px;
    color : white;
    margin-left :5px;
    text-decoration: none;
}
.search:hover
{
    color: white;
    font-weight: bolder;
    /* background-color: #506b2e; */
  background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(80, 207, 77, 1) 43%
  );
}
.cancel 
{
    height : 40px ; 
    font-size: 16px;
    width: 129px;
    background-color: #f14D54;
    border: none;
    border-radius: 4px;
    color : white;
    margin-left :5px;
    text-decoration: none;
}
.cancel:hover
{
    font-weight: bold;
   
}
.cart-page-wrapper
{
    padding:50px 0px 80px 0px;
    background-color: #fff;
    min-height:1000px;
}
.container {
    max-width: 1240px;
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
    min-height:1000px;
}
h1
{
    color: #414141;
    position: relative;
    font-size: 32px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin: 0px 0px 75px 0px;
    letter-spacing: 0px;
}
.cart-items-wrapper
{
    display: flex;
    width:565.2px;
    margin: 0px 287.4px;
    flex-direction: column;
}
.name-wrapper
{
    display: flex;
    justify-content: space-between;
    margin-bottom:45px;
    width:565.2px;

}
.my-shopping-bag
{
    font-size: 18px;
    font-family: "Roboto",sans-serif;
    color: #414141;
}
.total-price-wrapper
{
    font-size: 15px;
    font-family: "Roboto",sans-serif;
    color: #414141;
}
.cart-list-wrapper
{
    display: flex;
    flex-wrap: wrap;
    
}
.cart-item
{
    display: flex;
    width:585.2px;
    height:149.2px;
    border:1px solid rgb(206, 195, 195) ;
    border-radius: 3px;
    background-color: #e6e6e6;
    margin-bottom:30px;
}
.cart-details
{
    display: flex;
    margin:15px;
}
.left-cart-item
{
    width:150px;
    margin-right: 15px;
   
}
.campus-sutra
{
    font-size: 18px;
    font-family: "Roboto",sans-serif;
    color: #414141;
    font-weight: 600;
}
.cart-item-name
{
    color:#f14D54;
    margin-top:10px;
}
.qty{
    height: 20px;
    margin: 15px 0 0 0;
    padding: 0;
}
.qt, .qt-plus, .qt-minus {
    display: block;
    float: left;
  }
  
.qt {
    font-size: 10px;
    line-height: 20px;
    width: 20px;
    text-align: center;
    margin: 0px 10px;
    border:1px solid rgb(206, 195, 195);
  }
  
.qt-plus, .qt-minus {
    background: #f14D54;
    border: none;
    text-align: center;
    font-weight: 300;
    height:20px;
    width:20px;
    padding: 0 5px;
    color:white;
    line-height: 20px;
   
  }
  
.qt-plus:hover, .qt-minus:hover {
    
    color: #fff;
    cursor: pointer;
  }
  
.right-cart-item
{
    margin:0 0 0 130px ;
}
.price
{
    margin-left:87px;
    font-family: "Roboto",sans-serif;
    color: #414141;
}
.discount
{
    display: flex;
    margin-top:10px;
}
del
{
    color:#838383;
}
.dis-percent
{
    margin-left:15px;
    color: #f14D54;
    font-size:15px;
}
.remove
{
    margin:15px 0px 0px 70px;
    color : #f14D54;
    font-size : 12px ;
    font-family: "Roboto" , sans-serif;
}

.btn-wrapper
{
    margin-top : 35px;
}
.place-order
{
    background-color: #f14D54;
    width: 139.75px;
    height: 40px;
    border:none;
    color : #fff;
    font-weight:500;
    font-size:15px;

}
.place-order:hover
{
    font-weight: bold;
}
.site-info
{
    justify-content: baseline;
    text-align: center;
    background-color: #f9f9f9;
}
.logo
{
    flex:0 0 180px;
    max-width: 180px;
}
.footer-container
{
    max-width:1240px ;
    padding:10px 50px;
    margin:0px auto;
    width:100%;
}
.foo-site-logo
{
    margin-left:463px;
}
.copy-right
{
    color: #757575;
    font-size: 13px;
    line-height: 1.8;
    margin-top:15px;
}
