* 
{
    margin : 0 ; 
    padding : 0 ; 
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color:black;
}
.site-header-wrapper
{
    padding: 18px 0px;
    height: 92px;

}
.container {
    max-width: 1240px;
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
    height:600px;
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-wrapper {
    flex: 0 0 180px;
    max-width: 180px;
}
.logo-wrapper a {
    display: block;
}
.nav-wrapper
{
    flex :1;
}
.top-right-bar {
    display: flex;
    align-items: center;
    margin-bottom:0px;
    justify-content: flex-end;
}
.nav-wrapper ul {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
}
.nav-wrapper ul li {
    width: auto;
    padding: 0;
}
li {
    position: relative;
}
.top-nav-bar li a {
    color: #f14D54;
    font-size: 16px;
    text-decoration:none;

}
.nav-wrapper ul.top-nav-bar li +li {
    padding-left: 15px;
}

.Cart {
    color: #f14D54;
    text-align: left;
    width:110.88px;
    height: 45px;
    padding: 7px;
    border-radius: 5px;
    border: 0.5px solid rgba(136, 117, 117, 0.644);
    margin-top: -6px;
    margin-left:20px;
}
.Cart a
{
    text-decoration: none;
}

.c1
{
    margin-top : -28px; 
}
.c2
{
    margin-left: 47px;
    margin-top: -28px;
    color: black;
    font-size: 20px;
}
.lower-header 
{
   
        height: 80px;
        display: flex;
        
        padding: 20px 0px;
        background-color: #f4f4f4;
      
}
.text 
{
  align-content: center;
  width: 422px;
  height: 40px;
  outline: none;
  border: 0.5px solid rgb(206, 195, 195);
  border-radius: 4px;
  padding-left: 10px;
  color: black;
  font-size: 14px;
  font-style: italic;
  margin-left :480px ; 
}
.search
{
    height : 40px ; 
    font-size: 16px;
    width: 129px;
    background-color: #80bf32;
    border: none;
    border-radius: 4px;
    color : white;
    margin-left :5px;
    text-decoration: none;
}
.search:hover
{
    color: white;
    font-weight: bolder;
    /* background-color: #506b2e; */
  background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(80, 207, 77, 1) 43%
  );
}
.cancel 
{
    height : 40px ; 
    font-size: 16px;
    width: 129px;
    background-color: #f14D54;
    border: none;
    border-radius: 4px;
    color : white;
    margin-left :5px;
    text-decoration: none;
}
.cancel:hover
{
    font-weight: bold;
   
}
.page-nav
{
    justify-content: center;
    margin-top : 50px  ; 
}
.page-nav-list {
    display: flex;
    justify-content: center;
    padding: 20px;
    list-style: none;
    
}
.page-nav-list a {
    padding: 0px 10px;
    text-decoration: none;
    color: #414141;
 }
.create-account a {
    color: #f14d54;
}
.caa {
    font-size: 32px;
    color: #414141;
    text-align: center;
    margin-bottom: 45px;
    font-family: "Roboto", sans-serif;
    font-weight: bold;
}
.form-container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
  
.cust-heading {
    font-size: 20px;
    color: #414141;
    font-family: "Roboto" ,"sans-serif";
    font-weight : bold;
  }
.hr {
    margin: 20px 0px;
    width: 450px;
  }
.cust-note {
    margin-bottom: 20px;
    font: 15px, "Roboto-light";
    color: #838383;
  }
.summary li {
    padding-bottom: 15px;
    color: #212121;
  }
.new-cust-button {
    margin-top: 150px;
    text-decoration: none;
}
.create-an-account
{
      width:220px; 
      height : 45px;
      background-color : #f14d54;
      font-size : 14px ;
      border: none;
      border-radius: 4px;

}
.create-an-account a
{
    color : white; 
    text-decoration: none;
}
.create-an-account:hover{
    font-weight : bolder ; 
}
  
label {
    display: block;
    padding-bottom: 15px;
}
.email-container {
    margin-bottom: 40px;
  }
.register-cust-input-container input {
    width: 422px;
    height: 40px;
  }
.password-container {
    margin-bottom: 60px;
}
.Login-btn
{
    width:100px; 
    height : 45px;
    background-color : #f14d54;
    font-size : 14px ;
    border: none;
    border-radius: 4px;
    color : white; 
    text-decoration: none;
}
.site-info
{
    justify-content: baseline;
    text-align: center;
    background-color: #f9f9f9;
    margin-top: 80px;
}
.logo
{
    flex:0 0 180px;
    max-width: 180px;
}
.footer-container
{
    max-width:1240px ;
    padding:10px 50px;
    margin:0px auto;
    width:100%;
}
.foo-site-logo
{
    margin-left:463px;
}
.copy-right
{
    color: #757575;
    font-size: 13px;
    line-height: 1.8;
    margin-top:15px;
}
