
* 
{
    margin : 0 ; 
    padding : 0 ; 
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    color:black;
}
.site-header-wrapper
{
    padding: 18px 0px;
    height: 92px;

}
.container {
    max-width: 1240px;
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
    height:600px;
}
.header-wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-wrapper {
    flex: 0 0 180px;
    max-width: 180px;
}
.logo-wrapper a {
    display: block;
}
.nav-wrapper
{
    flex :1;
}
.top-right-bar {
    display: flex;
    align-items: center;
    margin-bottom:0px;
    justify-content: flex-end;
}
.nav-wrapper ul {
    display: flex;
    padding: 0;
    align-items: center;
    justify-content: flex-end;
    list-style: none;
}
.nav-wrapper ul li {
    width: auto;
    padding: 0;
}
li {
    position: relative;
}
.top-nav-bar li a {
    color: #f14D54;
    font-size: 16px;
    text-decoration:none;

}
.nav-wrapper ul.top-nav-bar li +li {
    padding-left: 15px;
}

.Cart {
    color: #f14D54;
    text-align: left;
    width:110.88px;
    height: 45px;
    padding: 7px;
    border-radius: 5px;
    border: 0.5px solid rgba(136, 117, 117, 0.644);
    margin-top: -6px;
    margin-left:20px;
}
.Cart a
{
    text-decoration: none;
}

.c1
{
    margin-top : -28px; 
}
.c2
{
    margin-left: 47px;
    margin-top: -28px;
    color: black;
    font-size: 20px;
}
.lower-header 
{
   
        height: 80px;
        display: flex;
        
        padding: 20px 0px;
        background-color: #f4f4f4;
      
}
.text 
{
  align-content: center;
  width: 422px;
  height: 40px;
  outline: none;
  border: 0.5px solid rgb(206, 195, 195);
  border-radius: 4px;
  padding-left: 10px;
  color: black;
  font-size: 14px;
  font-style: italic;
  margin-left :480px ; 
}
.search
{
    height : 40px ; 
    font-size: 16px;
    width: 129px;
    background-color: #80bf32;
    border: none;
    border-radius: 4px;
    color : white;
    margin-left :5px;
    text-decoration: none;
}
.search:hover
{
    color: white;
    font-weight: bolder;
    /* background-color: #506b2e; */
  background: rgb(34, 193, 195);
  background: linear-gradient(
    90deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(80, 207, 77, 1) 43%
  );
}
.cancel 
{
    height : 40px ; 
    font-size: 16px;
    width: 129px;
    background-color: #f14D54;
    border: none;
    border-radius: 4px;
    color : white;
    margin-left :5px;
    text-decoration: none;
}
.cancel:hover
{
    font-weight: bold;
   
}
.create-account-wrapper
{
    padding: 75px 0 80px;
}
.container {
    max-width: 1240px;
    min-height:750px;
    width: 100%;
    padding: 0 50px;
    margin: 0 auto;
}
.page-nav-wrapper ol 
{
    justify-content: center;
    margin-bottom: 32px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    align-items: center;
    text-decoration: none;
    color : #414141;
    padding: 0px 10px;
}
.page-nav-wrapper ol li a {
    font-size: 18px;
    color :  #414141;
    text-decoration: none;
}
h1
{
    color: black;
    position: relative;
    font-size: 32px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 45px;
    letter-spacing: 0px;
}
.personal-infomation
{
    margin-bottom:32px;
}
.create-account-row .form-block .personal-infomation .personal-info-header h2
{
    
    font-family: "Roboto" , sans-serif;
    color : #414141;
    font-size:20px;
}
hr
{
    margin: 20px 0px;
    color: lightgray;

}
.create-account-row .form-block .personal-infomation p
{
    color : #838383 ; 
    font-size:15px ; 
    font-family:"Roboto" ;
}
.form-row-wrapper
{
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0px 0px -15px;
}

.personal-info-header
{
    margin-top : 20px ;
}
.form-col {
    flex: 0 0 50%;
    padding:0px 15px;
    position: relative;
    max-width: 50%;
}
 .form-group{
    position: relative;
    
}

.form-group label {
    color: #333 !important;
    display: block;
    font-size: 16px;
    transform: none;
    margin-bottom: 15px;
}
.form-control
{
    width:100%;
    height:40px;
    border-radius : 3px ; 
    border:1px solid lightgray;
    margin-bottom:40px;
}
.form-group .error-msg {
    top: 100%;
    color: #FF0000;
    margin: 5px 0 0;
    position: absolute;
    font-size: 14px;
    display: none;
}
.full-width-col
{
    flex: 0 0 100%;
    max-width: 100%;
}
.btn-wrapper
{
    margin-top:30px ; 
}
.register
{
    background-color : #f14D54;
    width:136px ;
    height:45px ; 
    color:white;
    border:none;
}
.register:hover
{
    font-weight:bold;
}
.site-info
{
    justify-content: baseline;
    text-align: center;
    background-color: #f9f9f9;
   
}
.logo
{
    flex:0 0 180px;
    max-width: 180px;
}
.footer-container
{
    max-width:1240px ;
    padding:10px 50px;
    margin:0px auto;
    width:100%;
}
.foo-site-logo
{
    margin-left:463px;
}
.copy-right
{
    color: #757575;
    font-size: 13px;
    line-height: 1.8;
    margin-top:15px;
}
